---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import SVG from "../components/SVG.astro";
---

<BaseLayout
	title="About | Agustin Martinez"
	description="description of my portfolio and skills that I currently use"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself."
			/>

			<section>
				<h2 class="section-title">Presentation</h2>
				<div class="content">
					<p>
						Hello, I am Agustín Martínez, a passionate web developer
						specialized in frontend. I am 26 years old. My passion
						for creation and design leads me to constantly look for
						new ways to improve the user experience through
						intuitive and attractive interfaces. I am always looking
						to learn and grow in this ever-evolving world and I am
						excited to share my work with you.
					</p>
				</div>
			</section>
			<h2 class="section-title">Skills</h2>
				<SVG />
				
		</main>
	</div>
	
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
