---
import HtmlIcons from "../components/IconsLenguage/HtmlIcons.astro";
import CssIcons from "../components/IconsLenguage/CssIcons.astro";
import TailwindIcons from "../components/IconsLenguage/TailwindIcons.astro";
import JsIcons from "../components/IconsLenguage/JsIcons.astro";
import TsIcons from "../components/IconsLenguage/TsIcons.astro";
import ReactIcons from "../components/IconsLenguage/ReactIcons.astro";
import AstroIcons from "../components/IconsLenguage/AstroIcons.astro";
import PhpIcons from "../components/IconsLenguage/PhpIcons.astro";
import LaravelIcons from "../components/IconsLenguage/LaravelIcons.astro";
import MongoIcons from "../components/IconsLenguage/MongoIcons.astro";
import MySqlIcons from "../components/IconsLenguage/MySqlIcons.astro";
import FigmaIcons from "../components/IconsLenguage/FigmaIcons.astro";
---

<div class="flex flex-wrap justify-center items-center gap-10">
  <HtmlIcons />
  <CssIcons />
  <TailwindIcons />
  <JsIcons />
  <TsIcons />
  <ReactIcons />
  <AstroIcons />
  <PhpIcons />
  <LaravelIcons />
  <MongoIcons />
  <MySqlIcons />
  <FigmaIcons />
  <img src="/assets/next.png" alt="Logo" width="120" />
  <img src="/assets/node.png" alt="Logo" width="150" />
  <img src="/assets/express.png" alt="Logo" width="120" />
</div>
